recursive-include core_pg_migrations/template/ *
recursive-include core_pg_migrations/migration/ *
recursive-include core_pg_migrations/ *
recursive-include core_pg_migrations_cpp/ *
prune core_pg_migrations/**/__pycache__
prune core_pg_migrations_cpp/**/build
