recursive-include core_pg_migrations/database/cpp/lib/include/ *
recursive-include core_pg_migrations/backend/cpp/include/ *
recursive-include core_pg_migrations/template/ *
recursive-include core_pg_migrations/migration/ *
include core_pg_migrations/config.toml
