"core_types @ git@distrib.sgs-devel.com:/home/git/core_types@4c778248c52901423a827e39c6e46c40527435b6#egg=core_types"
"core_pg_bindings @ distrib.sgs-devel.com:/home/git/core_pg_bindings@ff12c84645e6755ad6bd8887aa1b3ba00591d0f3#egg=core_pg_bindings"
annotated-types==0.6.0
compress-pickle==2.1.0
lz4==4.3.3
mypy==1.8.0
mypy-extensions==1.0.0
packaging==24.1
pluggy==1.5.0
pybind11==2.13.6
pydantic==2.10.6
psycopg==3.1.17
pydantic_core==2.27.2
pytest==8.2.2
semver==3.0.2
setuptools==69.0.3
typing_extensions==4.12.2
toml==0.10.2
