annotated-types==0.6.0
compress-pickle==2.1.0
lz4==4.3.3
packaging==24.1
pluggy==1.5.0
psycopg==3.1.17
semver==3.0.2
setuptools==69.0.3
typing_extensions==4.12.2
toml==0.10.2
core_types==0.0.0
core_pg_bindings==0.0.0
